@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

:root {
  --primary: #primary-400;
  --primary-light: #primary-200;
  --primary-dark: #primary-800;

  --secondary: #secondary-400;
  --secondary-light: #secondary-200;
  --secondary-dark: #secondary-800;

  --accent: #accent-400;
  --accent-light: #accent-200;
  --accent-dark: #accent-800;
  --background: #background-50;
  --foreground: #foreground-900;
  --card: #background-50;
  --card-foreground: #foreground-900;
  --popover: #background-50;
  --popover-foreground: #foreground-900;
  --primary-foreground: #primary-foreground-100;
  --secondary-foreground: #secondary-foreground-100;
  --muted: #muted-foreground-100;
  --muted-foreground: #muted-foreground-900;
  --accent-foreground: #accent-foreground-100;
  --destructive: #destructive-400;
  --destructive-foreground: #destructive-foreground-100;
  --border: #border-200;
  --input: #input-200;
  --ring: #ring-200;
  --chart-1: #chart-1-400;
  --chart-2: #chart-2-400;
  --chart-3: #chart-3-400;
  --chart-4: #chart-4-400;
  --chart-5: #chart-5-400;
  --radius: 0.625rem;
  --sidebar: #primary-800;
  --sidebar-foreground: #primary-foreground-100;
  --sidebar-primary: #secondary-400;
  --sidebar-primary-foreground: #secondary-foreground-100;
  --sidebar-accent: #accent-400;
  --sidebar-accent-foreground: #accent-foreground-100;
  --sidebar-border: #border-200;
  --sidebar-ring: #ring-200;
}

.dark {
  --background: #background-900;
  --foreground: #foreground-100;
  --card: #background-800;
  --card-foreground: #foreground-100;
  --popover: #background-800;
  --popover-foreground: #foreground-100;
  --primary: #primary-400;
  --primary-foreground: #primary-foreground-100;
  --secondary: #secondary-400;
  --secondary-foreground: #secondary-foreground-100;
  --muted: #muted-foreground-100;
  --muted-foreground: #muted-foreground-900;
  --accent: #accent-400;
  --accent-foreground: #accent-foreground-100;
  --destructive: #destructive-400;
  --destructive-foreground: #destructive-foreground-100;
  --border: #border-200;
  --input: #input-200;
  --ring: #ring-200;
  --chart-1: #chart-1-400;
  --chart-2: #chart-2-400;
  --chart-3: #chart-3-400;
  --chart-4: #chart-4-400;
  --chart-5: #chart-5-400;
  --sidebar: #primary-800;
  --sidebar-foreground: #primary-foreground-100;
  --sidebar-primary: #secondary-400;
  --sidebar-primary-foreground: #secondary-foreground-100;
  --sidebar-accent: #accent-400;
  --sidebar-accent-foreground: #accent-foreground-100;
  --sidebar-border: #border-200;
  --sidebar-ring: #ring-200;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
